<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer="defer" src="/assets/main.js"></script>
  </head>

  <body class="overflow-y-hidden">
    {% block body %}{% endblock %}
  </body>

</html>