<script>
    $(document).ready(
        () => 
        {
            $('.burger').mouseenter(() => {
                if ($(this).hasClass('burger-x')) return;
                $(this).addClass('burger-hover');
            })
            .mouseleave(() => {
                $(this).removeClass('burger-hover');
            })
            .click((e) => {
                e.preventDefault();
                if ($(this).hasClass('burger-x'))
                {
                    $(this).removeClass('burger-x')
                    .addClass('burger-hover');
                }
                else
                {
                    $(this).removeClass('burger-hover');
                    $(this).addClass('burger-x');
                }
            })
        }
    );
/*     function burgerHover(self, over)
    {
        self.mouseover = over;
        if (self.classList.contains('burger-x')) return;
        if (over && !self.classList.contains('burger-hover')) 
        {
            toggleClass(self, 'burger-hover');
        }
        else if (!over && self.classList.contains('burger-hover'))
        {
            toggleClass(self, 'burger-hover');
        }
    }

    var _exitBurger;
    function burgerSelect(self) {
        toggleClass(self, 'burger-hover');
        toggleClass(self, 'burger-x'); 
        _exitBurger = exitBurger(self);
        document.addEventListener('mousedown', _exitBurger);
    }

    function exitBurger(self)
    {
        return () => {
            document.removeEventListener('mousedown', _exitBurger);
            if (self.mouseover) return;
            if (self.classList.contains('burger-x')) toggleClass(self, 'burger-x');
        };
    } */
</script>

<div class="burger">
    <div class="burgerTop"></div>
    <div class="burgerRoot"></div>
    <div class="burgerBottom"></div>
</div>

 <!-- 
onclick="event.stopPropagation = true; burgerSelect(this)" 
onmouseover="burgerHover(this, true)"
onmouseout="burgerHover(this, false)" -->