<script src="{{ base.url | prepend: site.url }}/assets/js/lib/jquery-3.5.0.slim.js" type="text/javascript"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/lib/velocity.2.0.6.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/lib/velocity.ui.2.0.6.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/data.js" type="text/javascript"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/util.js" type="text/javascript"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/interaction.js" type="text/javascript"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/anim.js" type="text/javascript"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/lib/vh-fix.js" type="text/javascript"></script>