/**
*/
$page-width: 92%;
$padding-y: 2%;
$margin-lr: 4%;

.width-x{
  width: $page-width;
  padding-left: $margin-lr;
  padding-right: $margin-lr;
}

.section {
  background-color: black;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  opacity: 1;
  justify-content: start;
}

.section img {
  padding-top: 8%;
  width: 100%;
  transform: scale(0.8);
}

.container{
  @extend .width-x;
}

.header-container{
  
}
.header{
  @extend .width-x;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  // padding-top: $padding-y;
  // padding-bottom: $padding-y;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1 1;
  z-index: 10;
}

.am-logo {
  grid-column: 0;
  width: 12vw;
  min-width: 150px;
  max-width: 228px;
  cursor: pointer;
}

.burger {
  grid-column: 3;
  cursor: pointer;
  justify-self: end;
}
.burgerTop, .burgerRoot, .burgerBottom {
  width: 35px;
  height: 3px;
  background-color: $light;
  margin: 6px 0px;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  mix-blend-mode: difference;
}

.nav
{
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1 1 1 1 1;
  justify-items: right;
  z-index: 20;
}

.header-slim * {
  -webkit-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}

.header-slim .header
{
  background-color: $color-background;
}
.header-slim .am-logo
{
  min-width: 100px;
  width: 5vw;
  filter: grayscale(1);
}
.header-slim .burger {
  align-self: center;
}

.burger-x .burgerTop {
    -webkit-transform: rotate(-45deg) translate(-8px, 4.25px);
    transform: rotate(-45deg) translate(-8px, 4.25px);
}
.burger-x .burgerRoot { opacity: 0; }
.burger-x .burgerBottom {
    -webkit-transform: rotate(45deg) translate(-8px, -4.25px);
    transform: rotate(45deg) translate(-8px, -4.25px);
}
.burger-hover .BurgerTop {
  -webkit-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px)
}
.burger-hover .BurgerBottom {
  -webkit-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translateY(2px);
  transform: translateY(2px)
}
.burger-hover .burgerTop {
  -webkit-transform: translate(0, -3px);
  transform: translate(0, -3px);
}
.burger-hover .burgerRoot { opacity: 1; }
.burger-hover .burgerBottom {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
