.header-container {
}
.header {
  width: 100%;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  padding-left: (100% - $page-width) * 0.5;
  padding-right: (100% - $page-width) * 0.5;
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr;
  z-index: 10;
}

.header-slim .header {
  background-color: $color-background;
  padding-top: $padding-y * 0;
  padding-bottom: $padding-y * 0;
}
.header-nav .header {
}
.am-logo {
  grid-column: 0;
  width: 12vw;
  min-width: 100px;
  max-width: 228px;
  cursor: pointer;
}
.header-slim .am-logo {
  width: 6vw;
  filter: grayscale(1);
}
.header-nav .am-logo {
  @extend .header-slim;
}
.roman-numerals {
  grid-column: 2;
  grid-row: 1;
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: space-between;
  color:$color-foreground;
  z-index: 20;
}
.roman-numerals h6 {
  margin-top: 0;
  line-height: 1;
  cursor: pointer;
}
.header-slim .roman-numerals {
  align-self: center;
}

.nav
{
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20;
}

.burger {
  grid-column: 3;
  justify-self: end;
  transform: translateY(-7px);
  cursor: pointer;
}
.header-slim .burger {  
  align-self: center;
  transform: translateY(0);
}
.header-nav .burger {  
}
.burgerTop, .burgerRoot, .burgerBottom {
  @extend .t167ms, .t-out;
  width: 32px;
  height: 3px;
  background-color: $light;
  margin: 8px 0px;
  mix-blend-mode: difference;
}
.burger-x .burgerTop {
    -webkit-transform: rotate(-45deg) translate(-8px, 7.4px);
    transform: rotate(-45deg) translate(-8px, 7.4px);
}
.burger-x .burgerRoot { opacity: 0; }
.burger-x .burgerBottom {
    -webkit-transform: rotate(45deg) translate(-8px, -7.4px);
    transform: rotate(45deg) translate(-8px, -7.4px);
}
.burger-hover .burgerTop {
  -webkit-transform: rotate(7deg) translate(0, -2px);
  transform: rotate(7deg) translate(0, -2px);
}
.burger-hover .burgerRoot { opacity: 1; }
.burger-hover .burgerBottom {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

// screen sizes
@media (max-width: $breakpoint-lg) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .burger {
    align-self: center;
    transform: translateY(0);
  }
  .roman-numerals {
    opacity: 0;
  }
}