/**
*/

.section {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  overflow: hidden;
}
.section-col-1-3-3-1 {
  // height: 100vh;
  // display: grid;
  // flex-direction: column;
  // grid-template-rows: 1fr;
}
.section img {
  grid-column: 0;
  grid-row: 0;
  object-fit: cover;
  transform: scale(0.8);
}

.carousel {
  width: 50%;
}