// Default black theme
// Color variables
$dark1: black;
$dark2: #000000;
$light: rgb(255, 255, 255);
$primary: #ff0060;
$secondary: #00ff9f;

// Default border color
$color-border: #2e2e2e !default;

// Config
$color-background: $dark2 !default;
$color-dot-accent: $primary !default;
$color-foreground: $light !default;
$color-title: $light !default;
$color-body-text: $dark2 !default;
$color-text-accent: $primary !default;
$color-code: $secondary !default;
$color-nav-link: $primary !default;
$color-primary-link: $primary !default;
.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import "variables",
"util",
"base",
"transitions",
"header",
"sections",
"markdown",
"anim";