/* Padding */

.p-xLg {
  @apply px-12;
}

.p-xMd {
  @apply px-6;
}

.p-xSm {
  @apply px-3;
}

.p-yLg {
  @apply py-12;
}

.p-yMd {
  @apply py-6;
}

.p-ySm {
  @apply py-3;
}

.p-tLg {
  @apply pt-12;
}

.p-tMd {
  @apply pt-6;
}

.p-tSm {
  @apply pt-3;
}

.p-bLg {
  @apply pb-12;
}

.p-bMd {
  @apply pb-6;
}

.p-bSm {
  @apply pt-3;
}