.border-centered {
  @apply inline-block text-center border border-white;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-col-center {
  @apply container flex items-start justify-between text-center mx-auto pl-0 pr-0;
}
