{% extends "page.njk" %}

{% set title = "Aeron Miles" %}
{% set description = "Aeron Miles, Tech Lead, Tech Art Director, development & consultation for AI, AR & VR technical solutions." %}

{% block body %}
    <am-main></am-main>
    
{% endblock %}