{% extends "page.njk" %}

{% set title = "Aeron Miles" %}
{% set description = "Tech Art & Research Developer" %}

{% block body %}

    <aw-main></aw-main>
    
    {# <script src="//unpkg.com/gl-matrix@2.8.1" defer></script>
    <script src="//unpkg.com/gltumble" defer></script>
    <script src="//unpkg.com/filament@1.15.0/filament.js" defer></script>
    <script src="assets/flmt/tutorial_suzanne.js" defer></script> #}
    {# <script src="assets/flmt/tutorial_redball.js" defer></script> #}
    {# <script src="assets/flmt/tutorial_triangle.js" defer></script> #}

{% endblock %}